

body{
	/*border-box style of box-sizing makes it so both width and padding of a block element are included
	in the total width of the element.  This is preferred going forward */
	box-sizing: border-box; 
	background-image: url("alex.jpg");
}
.res-section {
	color:black;
	/*Project 2-use this css rule to format each 'section' tag with 'res-section' class assigned */
}
